{% extends 'base.html' %}
{% load static %}
{% block title %} Wiki List {% endblock %}
{% block styles %}
<style>
    .content-box {
        background-color: antiquewhite;
        border:1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0;
        width: 400px;
        height: 200px;
        box-sizing: border-box;
    }
    .content {
            flex-grow: 3;
        }
    a {
        color: blue;
    }
    main {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;  
    }
</style>
{% endblock %}
{% block content %}

<section class="content">
    <h2> Wiki List</h2>
    {% for article in object_list %}
        <div class ="content-box">
                <p><strong>Title:</strong> {{ article.title }}</p>
                <p><strong>Category:</strong> {{ article.articlecategory }} </p>
                <p><strong>Entry:</strong> {{ article.entry|slice:"60" }}...</p>
                <p><strong>Created On:</strong> {{ article.created_on }}</p>
                <a href= "{{ article.get_absolute_url }}"> View Entry</a>
        </div>
            {% empty %}
                <li> No wiki available. </li>
            {% endfor %}
</section>

{% endblock %}

