{% extends "base.html" %}
{% load static %}
{% block title %}
    Products
{% endblock title %}
{% block styles %}
<style>
    a {
        color:#333;
        text-decoration:none;
        }

    .headbar {
        background-color: #333;
        color: #fff;
        padding: 10px 200px;
        text-align: center;
        font-family:Verdana, sans-serif;
        word-wrap: break-word;
     }

    .typebar {
        background-color: #4c4444;
        color: #fff;
        padding: 0px;
        text-align: center;
        font-family:Verdana, sans-serif;
        word-wrap: break-word;
    }

    .product-box {
        background-color: lightgray;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .product-box:hover {
        background-color: rgba(144, 117, 117, 0.679);
    }
</style>
{% endblock styles%}
{% block content %}
<h1 class = "headbar">Products</h1>
    {% if user.is_authenticated %}
        <h2>Your Products</h2>
            {% for product_type in object_list %}
                    <p class = "typebar">
                        {{ product_type.name }}
                    </p>
                    {% for product in my_products %}
                        {% if product.product_type == product_type %}
                        <a href="{{ product.get_absolute_url }}">
                            <div class ="product-box">
                                {{ product }}
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
            <h2>All Products</h2>
                {% if object_list.exists %}
                    {% for product_type in object_list %}
                            <p class = "typebar">
                                {{ product_type.name }}
                            </p>
                        {% for product in product_type.products.all %}
                            {% if product.author != request.user.profile %}
                                <a href="{{ product.get_absolute_url }}">
                                    <div class ="product-box">
                                        {{ product }}
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <p>No products under this categories.</p>
                {% endif %}
        <a href="{% url 'merchstore:product_create' %}"><button>Create A Product</button></a>
    {% else %}
        <h2>All Products</h2>
            {% for product_type in object_list %}
                <p class = "typebar">
                    {{ product_type.name }}
                </p>
                {% for product in product_type.products.all %}
                    <a href="{{ product.get_absolute_url }}">
                        <div class ="product-box">
                            {{ product }}
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
    {% endif %}
{% endblock content %}